body {
  background-color: antiquewhite;
}

.card-content {
  height: 100px;
  overflow: auto;
}

a {
  color: black;
}

a:hover {
  color: orange;
}

.centering {
  text-align: center;
}

.modal {
  z-index: 2;
}

.model-overlay {
  z-index: 1;
  display: none;
}